<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DriveEasy - Premium Car Rentals{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>

    {% include 'app/header.html' %}

    {% block content %}
    
    {% endblock %}

    {% include 'app/footer.html' %}

    <script src="{% static 'app/js/script.js' %}"></script>
    

</body>
</html>
