{% extends "app/base.html" %}

{% block title %}Home - DriveEasy{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Find Your Perfect Rental Car</h1>
            <p>Choose from our wide selection of premium vehicles at competitive prices</p>
            <a href="{% url 'cars' %}"class="btn">Browse Cars</a>

            <!-- Search Form -->
                
            
            </div>
        </div>
    </div>
</section>



{% endblock %}
